*{
    margin: 0px;
    padding: 0px;
}

.nav{
    width: 900px;
    height: 50px;
    background-color: pink;
    border: 2px solid rgb(5, 171, 254);
    border-radius: 8px;
    font-size: 24px;
    display: flex;
    align-items: center;
}

.nav a{
    text-decoration: none;
    color: black;
    height: 50px;
    width: 80px;
    margin-right: 20px;
}

#logo{
    margin-top: 20px;
    margin-left: 5px;
}