*{
    margin: 0px;
    padding: 0px;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
}

.header{
    background-color: pink;
    grid-row: 1;
    grid-column: 1/13;
}

.sidebar{
    background-color: pink;
    grid-row: 2/6;
    grid-column: 1/4;
}

.nav{
    background-color: pink;
    grid-row: 2/3;
    grid-column: 4/10;
}

.ads{
    background-color: pink;
    grid-column: 10/13;
    grid-row: 2/6;
}

.main{
    background-color: pink;
    grid-row: 3/6;
    grid-column: 4/10;
}

.footer{
    background-color: pink;
    grid-row: 6;
    grid-column: 1/13;
}


@media (max-width: 720px){
    .nav{
        grid-row: 2/3;
        grid-column: 1/13;
    }

    .sidebar{
        grid-row: 3/6;
        grid-column: 1/4;
    }

    .main{
        grid-row: 3/6;
        grid-column: 4/13;
    }
    .ads{
        grid-row: 6;
        grid-column: 1/4;
    }

    .footer{
        grid-row: 6;
        grid-column: 4/13;
    }
}