.container{
    width: 400px;
    height: 400px;
    border: 2px solid rgb(95, 218, 240);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
}

.container div{
    width: 100px;
    height: 100px;
    background-color: grey;
    border: 2px solid black;
    border-radius: 8px;
    text-align: center;
    font-size: 40px;
}