body{
    font-family: Georgia;
    background-color: wheat;
    color: #964B00;
    text-align: center;
}

p{
    color: red;
    line-height: 30px;
}

h3{
    color: black;
}

a{
    color: rgb(0, 255, 0);
    text-decoration: none;
}

button{
    background-color: #fff;
    color: blueviolet;
}

textarea{
    color: #000;
}

span{
    text-decoration: underline;
}
