*{
    margin: 0px;
    padding: 0px;
}

.main-box{
    background-image: url("./download.jpg");
    background-size: cover;
    height: 100vh;
}

.sidebar-menu{
    position: fixed;
    width: 300px;
    height: 100vh;
    left: -300px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
}

#check{
    display: none;
}

.btn_one{
    position: absolute;
    color: white;
    top: 25px;
    left: 30px;
}

.sidebar-head{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    
}

.logo{
    padding: 15px 0px 20px 60px;
}
.logo a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.btn_two{
    padding: 20px 20px 0px 0px;
}

.btn_two i{
    color: white;
    opacity: 0.5;
}

.btn_two i:hover{
    opacity: 1;
    transform: scale(1.2);
}

.menu{
    margin-top: 20px;
}

.menu ul{
    padding: 0px;
}
.menu ul li{
    width: 100%;
    padding: 10px 0px;
    box-sizing: border-box;
    
}

.menu ul li i{
    color: white;
    font-size: 20px;
    margin-left: 30px;
}
.menu ul li a{
    width: 100%;
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-left: 20px;
}

.menu ul li:hover{
    box-shadow: 0 0 6px rgba(255, 255, 255, 1);
}

.social-media{
    margin: 200px 0 0px 90px;
}

.social-media ul li{
    list-style: none;
    display: inline;
}
.social-media a{
  text-decoration: none;
  color: white;
  opacity: 0.5;
  display: inline-block;
}

.social-media li a:hover{
    opacity: 1;
    transform: scale(1.2);
}



#check:checked ~.sidebar-menu{
    left: 0px;
}

#check:checked ~.btn_one{
    opacity: 0;
}