*{
    margin: 0;
    padding: 0;
}

.main{
    background-color: black;
    height: 100vh;
    display: flex;
    padding: 0.5rem;
}

.sidebar{
    width: 330px;
    height: 100vh;
    border-radius: 1rem;
    margin-right: 0.5rem;
    overflow: hidden;
}

.sidebar .nav{
    background-color: #121212;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    border-radius: 1rem;
    padding: 0.5rem 0.75rem;
}

.nav .nav-option{
    line-height: 2.5rem;
    padding: 0.5rem 0.7rem;
    opacity: 0.7;
}

.nav-option a {
    margin-left: 1rem;
}

.nav-option:hover{
    opacity: 1;
}

.sidebar  a{
    text-decoration: none;
    color: white;
}

.sidebar  i{
    color: white;
}

.nav-option i{
    color: white;
    font-size: 1.25rem;
}

.library{
   background-color: #121212;
   height: 100%;
   padding: 0.5rem 0.75rem;
   border-radius: 1rem;
   margin-top: 0.5rem;
}
.options{
   display: flex; 
   justify-content: space-between;
}

.options img{
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 1rem;
}

.options .icons i{
    margin-right: 1rem;
    opacity: 0.7;
}

.options .icons i:hover{
    opacity: 1;
}

.box{
    color: white;
    background-color: #232323;
    height: 8rem;
    border-radius: 1rem;
    margin: 1.75rem 0 1.75rem 0;
    padding: 1rem 0.75rem 0 0.75rem;
}

.box .box-p1{
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.box .box-p2{
    font-size: 0.8rem;
    opacity: 0.9;
    margin-bottom: 1rem;
}

.badge{
    border: none;
    height: 2rem;
    padding: 0.25rem 1rem;
    font-weight: 700;
    border-radius: 1rem;
}

.main-content{
    flex-grow: 1;
    background-color: #121212;
    padding: 0 1.5rem;
    border-radius: 1rem;
    color: white;
    overflow: auto;
}



/* Nav Bar */
.sticky-nav{
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0.75rem;
    align-items: center;
    position: sticky;
    top: 0px;
}

.nav-icons{
    font-size: 2rem;
}

.nav-options{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-options button{
    margin-right: 0.75rem;
}

.card-container{
    display: flex;
}

.card{
    width: 150px;
    background-color: #232323;
    padding: 1rem;
    border-radius: 0.55rem;
    margin: 1rem 0px 1rem 1.5rem ;
}

.card img{
    width: 100%;
}

.card-title{
    font-weight: 600;
    margin-top: 1rem;
}

.card-info{
    font-size: 0.7rem;
    opacity: 0.8;
    margin-top: 1rem;
}
/* Music Player */

.music-player{
    position: fixed;
    bottom: 0%;
    width: 100%;
    height: 72px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.control-btns{
    display: flex;
    gap: 20px;
}

.btn{
    width: 1rem;
    height: 1rem;
}

.play-btn{
   width: 2rem;
   height: 2rem;
}

.timeline{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.time{
    padding-top: 4px;
    color: white;
}

.left-btns{
    margin: 8px 8px 0 0;
    display: flex;
    gap: 20px;
}

.right-btns{
    margin: 8px 0px 0px 8px;
    display: flex;
    gap: 20px;
}

.progress-bar input{
    width: 400px;
    height: 0.2rem;
    background-color: green;
}

.op-btns{
    opacity: 0.7;
}

.op-btns:hover{
    opacity: 1;
}